/*  General Styling */

header, body {
    background-color: black;
    font-family: "Verdana", sans-serif;
    text-align: center;
}

/*  Main Sections */

h1 {
    color: white;
    font-size: 50px;
}

h2 {
    color: white;
    font-size: 42px;
    font-weight: 300;
}

p {
    color: gray;
    font-size: 21px;
}

/*  Footer Section  */

footer {
    font-family: "Verdana", sans-serif;
    color: gray;
    text-align: right;
}

/*  Links   */

a {
    color: aquamarine;
    font-size: 16px;
}

.logo {
    margin-top: 30px;
}